{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>LGIR: Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&display=swap" rel="stylesheet">
    
    <!-- Linking static CSS -->
    <link rel="stylesheet" href="{% static 'css/generics/main.css' %}" type="text/css">

</head>
<style>
   a {
display: block;
width: 113px;
margin: auto; 
float: left;

}
    .wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  text-align:left;
}
  
</style>
<body>

  <!-- Defining the top navigation bar -->
  <ul id="top_nav">
    <li><a>LGIR</a></li>
    <li><a>Dashboard</a></li>
    <li><a>Account Settings</a></li>
    <li style="float:right"><a>Logout</a></li>
  </ul>

  <!-- Defining the main body of the page  -->
  <div id = "main">
    <div class="wrapper">
        <div class="grid-item" placeholder="Workspace Name">
         <a href=""  >Monitor </a >
         <a href="">Settings</a>
        </div>
        <div class="grid-item" placeholder="Workspace Name">
            <a href="">Monitor</a>
            <a href="">Settings</a>
        </div>
            <div class="grid-item" placeholder="Workspace Name">
                <a href="">Monitor</a>
                <a href="">Settings</a>
            </div>
                <div class="grid-item" placeholder="Workspace Name">
                    <a href="">Monitor</a>
                    <a href="">Settings</a>
                </div>
                    <div class="grid-item" placeholder="Workspace Name">
                        <a href="">Monitor</a>
                        <a href="">Settings</a>
                    </div>
                        <div class="grid-item" placeholder="Workspace Name">
                            <a href="">Monitor</a>
                            <a href="">Settings</a>
                        </div>
                            <div class="grid-item" placeholder="Workspace Name">
                                <a href="">Monitor</a>
                                <a href="">Settings</a>
                            </div>
                                <div class="grid-item" placeholder="Workspace Name">
                                    <a href="">Monitor</a>
                                    <a href="">Settings</a>
                                </div>
                                    <div class="grid-item" placeholder="Workspace Name">
                                        <a href="">Monitor</a>
                                        <a href="">Settings</a>
                                    </div>
  </div>
</div>

</body>
</html>