{% load static %}
<script src="{% static 'application/blockly/google-blockly-edd475f/blockly_compressed.js' %}"></script>
<script src="{% static 'application/blockly/google-blockly-edd475f/blocks_compressed.js' %}"></script>
<script src="{% static 'application/blockly/google-blockly-edd475f/msg/js/en.js' %}"></script>

<h1>Workspace for: 
{% block includes %}
{{ appcode }}
{% endblock includes %}
</h1>

<div id="divArea">THIS</div>

<script>

var wsStart = "ws://"
if (window.location.protocol == 'https:') {
    wsStart = "wss://"
}

var endpoint = wsStart + window.location.host +  window.location.pathname
var socket = new WebSocket(endpoint)

var divArea = document.getElementById("divArea")
divArea.onclick = function(event) {
    socket.send(JSON.stringify({
      'message': "message"
    }))
    console.log("Sending")
}

//var socket = new WebSocket('ws://127.0.0.1:8000/dashboard/')

socket.onmessage = function(event) {
    console.log("Revied data")
    var data = JSON.parse(event.data);
    console.log(data)
    divArea.innerText = data.connection
}

</script>

<xml id="toolbox" style="display: none">
    <block type="controls_if"></block>
    <block type="controls_repeat_ext"></block>
    <block type="logic_compare"></block>
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
    <block type="text"></block>
    <block type="text_print"></block>
</xml>

<div id="blocklyArea" style="width: 100%; height: 100%"></div>

<div id="blocklyDiv" style="position: absolute"></div>

<script>
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');
    var workspace = Blockly.inject(blocklyDiv,
        {toolbox: document.getElementById('toolbox')});
    var onresize = function(e) {
      // Compute the absolute coordinates and dimensions of blocklyArea.
      var element = blocklyArea;
      var x = 0;
      var y = 0;
      do {
        x += element.offsetLeft;
        y += element.offsetTop;
        element = element.offsetParent;
      } while (element);
      // Position blocklyDiv over blocklyArea.
      blocklyDiv.style.left = x + 'px';
      blocklyDiv.style.top = y + 'px';
      blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
      blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
      Blockly.svgResize(workspace);
    };
    window.addEventListener('resize', onresize, false);
    onresize();
    Blockly.svgResize(workspace);
</script>


<script>
  workspace.addChangeListener(mirrorEvent);

  function mirrorEvent(primaryEvent) {
    if (primaryEvent instanceof Blockly.Events.Ui) {
        return;  // Don't mirror UI events.
    }
      // Convert event to JSON.  This could then be transmitted across the net.
    var json = primaryEvent.toJson();
    socket.send(JSON.stringify({
      "message" : json
    }))
  }
</script>


<script>
  // Definition Block
var pin = 0;
var pos = 1;
Blockly.Blocks['Pin_Value'] = {
  innit: function() {
    this.appendValueInput('VALUE')
        .setCheck('Number')
        .appendField('value is ');
    this.setOutput(true, 'PIN: ', pin, 'AT', pos);
    this.setColour(160);
    this.setPreviousStatement(true); // false implies no connector at the top
    this.setNextStatement(true); // false implies no connector at the bottom
  }
};
// Block input types - value, statement or dummy.
</script>

<script>
  // Generator Stub
Blockly.Javascript['Pin_Value'] = function(block){
  var code = '...;\n';
  return code;
}
</script>
