{% load static %}
<script src="{% static 'application/blockly/google-blockly-edd475f/blockly_compressed.js' %}"></script>
<script src="{% static 'application/blockly/google-blockly-edd475f/blocks_compressed.js' %}"></script>
<script src="{% static 'application/blockly/google-blockly-edd475f/msg/js/en.js' %}"></script>

<h1>Workspace for: 
{% block includes %}
{{ appcode }}
{% endblock includes %}
</h1>
<style>
      


  * {
     font-family: myFirstFont;
  }
          body {
              margin: 0px;
          }
  
          body {
              font-family: 'Biryani', sans-serif;
          }
#top_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}

#top_nav li {
  float: left;
}

#top_nav li a {
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
  display: block;
}

#side_nav {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  top: 58px;
  color: #FFFFFF;
  bottom: 0px;
  background-color: #2b2b2b;
}

#side_nav li {
  padding: 10px;
  padding-left: 5px;
}

</style>
<div id="divArea"></div>

<script>

var wsStart = "ws://"
if (window.location.protocol == 'https:') {
    wsStart = "wss://"
}

var endpoint = wsStart + window.location.host +  window.location.pathname
var socket = new WebSocket(endpoint)

var divArea = document.getElementById("divArea")
divArea.onclick = function(event) {
    socket.send(JSON.stringify({
      'message': "message"
    }))
    console.log("Sending")
}

socket.onmessage = function(event) {
    var data = JSON.parse(event.data);
    var blocklyEvent = Blockly.Events.fromJson(data.message, workspace);
    
}

</script>

<xml id="toolbox" style="display: none">
    <block type="controls_if"></block>
    <block type="controls_repeat_ext"></block>
    <block type="logic_compare"></block>
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
    <block type="text"></block>
    <block type="text_print"></block>
</xml>

<div id="blocklyArea" style="width: 100%; height: 100%"></div>

<div id="blocklyDiv" style="position: absolute"></div>

<script>
    var blocklyArea = document.getElementById('blocklyArea');
    var blocklyDiv = document.getElementById('blocklyDiv');
    var workspace = Blockly.inject(blocklyDiv,
        {toolbox: document.getElementById('toolbox')});
    var onresize = function(e) {
      // Compute the absolute coordinates and dimensions of blocklyArea.
      var element = blocklyArea;
      var x = 0;
      var y = 0;
      do {
        x += element.offsetLeft;
        y += element.offsetTop;
        element = element.offsetParent;
      } while (element);
      // Position blocklyDiv over blocklyArea.
      blocklyDiv.style.left = x + 'px';
      blocklyDiv.style.top = y + 'px';
      blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
      blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
      Blockly.svgResize(workspace);
    };
    window.addEventListener('resize', onresize, false);
    onresize();
    Blockly.svgResize(workspace);



  //EVENTS
  workspace.addChangeListener(mirrorEvent);

  function mirrorEvent(primaryEvent) {
    if (primaryEvent instanceof Blockly.Events.Ui) {
        return;  // Don't mirror UI events.
    }
      // Convert event to JSON.
    var json = primaryEvent.toJson();
    socket.send(JSON.stringify({
      "message" : json
    }))

    console.log(json)

  }
</script>