#main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
  
#workspace-area {
    width: 100%;
}

#blockly-wrapper {
    position: absolute;
    top: 102px;
    bottom:0px;
    left: 0px;
    right: 0px;
    background-color: #02020281;
    z-index: 30;
    color: white;
    display: none;
  }

  #blockly-wrapper h1 {
    text-align: center;
  }